
    
        
        <div class="container">
            <div class="row">
                <div class="col-6">
                        <app-dashboard-ranking></app-dashboard-ranking>
                </div>
                <div class="col-6">
                        <app-dashboard-continuity></app-dashboard-continuity>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                        <app-dashboard-performance></app-dashboard-performance>
                </div>
            </div>
        </div>



    
    

